.blog{
    margin-left: 30%;
    margin-right: 30%
}

.blog li{
    text-decoration: none;
    list-style:none;
}

p.content{
    font-family: 'Times New Roman', Times, serif;
}

h1.title{
 text-align: center;
 text-transform: uppercase;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    font-size: large;
    font-style: italic;
}
.icons{
    display: flex;
    justify-content: space-between;
}